<template>
    <div class="about">
        <h1>About</h1>
        <p>YT Vue.js Crashcourse TravestyMedia</p>

    </div>
</template>
<style scoped>
 .about{
     text-align: center;
     margin-top: 5rem;
 }
</style>

